This notebook connects to Angel Broking via it's free API with an account and pulls 15 minutes data for the nifty 200. Then saving and exiting session. 

All files used in this notebook are also uploaded in the same folder. 

If you do not understand pieces of code in other files, please look here as i have explained every step.

## Connect To Angel Broking via API call

In [1]:
# package import statement
from smartapi import SmartConnect #or from smartapi.smartConnect import SmartConnect
#import smartapi.smartExceptions(for smartExceptions)

#create object of call
obj = SmartConnect(api_key="ef3Q6vdl")
                #optional
                #access_token = "your access token",
                #refresh_token = "your refresh_token")

#login api call

data = obj.generateSession(##username,##password) 
refreshToken = data['data']['refreshToken']

#fetch the feedtoken
feedToken = obj.getfeedToken()

#fetch User Profile
userProfile = obj.getProfile(refreshToken)

### Every stock has an associated token, reading the token here

In [3]:
import pandas as pd

all_symbols = pd.read_json("OpenAPIScripMaster.json")
all_symbols.head()

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,22197,737JH31-SG,737JH31,,-1,100,,NSE,1
1,2372,63PY26-SG,63PY26,,-1,100,,NSE,1
2,9698,UTDGR31P12-MF,UTDGR31P12,,-1,1,,NSE,1
3,6022,ABSLAMC-BL,ABSLAMC,,-1,1,,NSE,5
4,20054,IIFCL-N2,IIFCL,,-1,1,,NSE,1

### Getting a list of the nifty 200, this can be any list of stocks for which you want data

In [4]:
nifty200 = pd.read_csv('ind_nifty200list.csv')
train_symbols = list(nifty200['Symbol'] + '-EQ')

len(train_symbols)

200

### Associating names with tokens

In [5]:
nse_stocks = []
for i in range(len(train_symbols)):
    nse_stocks.append(all_symbols[(all_symbols.exch_seg == 'NSE') & (all_symbols['symbol'] == train_symbols[i])])

token = {}
for i in nse_stocks:
    try:
        t = (i['token'].values)[0]
        sym = (i['symbol'].values)[0]
        token[sym] = (t)
    except:
        pass

In [7]:
print(token)

{'ACC-EQ': '22', 'AUBANK-EQ': '21238', 'AARTIIND-EQ': '7', 'ADANIENT-EQ': '25', 'ADANIGREEN-EQ': '3563', 'ADANIPORTS-EQ': '15083', 'ABCAPITAL-EQ': '21614', 'ABFRL-EQ': '30108', 'AJANTPHARM-EQ': '8124', 'APLLTD-EQ': '25328', 'ALKEM-EQ': '11703', 'AMARAJABAT-EQ': '100', 'AMBUJACEM-EQ': '1270', 'APOLLOHOSP-EQ': '157', 'APOLLOTYRE-EQ': '163', 'ASHOKLEY-EQ': '212', 'ASIANPAINT-EQ': '236', 'ASTRAL-EQ': '14418', 'AUROPHARMA-EQ': '275', 'DMART-EQ': '19913', 'AXISBANK-EQ': '5900', 'BAJAJ-AUTO-EQ': '16669', 'BAJFINANCE-EQ': '317', 'BAJAJFINSV-EQ': '16675', 'BAJAJHLDNG-EQ': '305', 'BALKRISIND-EQ': '335', 'BANDHANBNK-EQ': '2263', 'BANKBARODA-EQ': '4668', 'BANKINDIA-EQ': '4745', 'BATAINDIA-EQ': '371', 'BERGEPAINT-EQ': '404', 'BEL-EQ': '383', 'BHARATFORG-EQ': '422', 'BHEL-EQ': '438', 'BPCL-EQ': '526', 'BHARTIARTL-EQ': '10604', 'BIOCON-EQ': '11373', 'BOSCHLTD-EQ': '2181', 'BRITANNIA-EQ': '547', 'CADILAHC-EQ': '7929', 'CANBK-EQ': '10794', 'CASTROLIND-EQ': '1250', 'CHOLAFIN-EQ': '685', 'CIPLA-EQ': '694', 'CUB-EQ': '5701', 'COALINDIA-EQ': '20374', 'COFORGE-EQ': '11543', 'COLPAL-EQ': '15141', 'CONCOR-EQ': '4749', 'COROMANDEL-EQ': '739', 'CROMPTON-EQ': '17094', 'CUMMINSIND-EQ': '1901', 'DLF-EQ': '14732', 'DABUR-EQ': '772', 'DALBHARAT-EQ': '8075', 'DEEPAKNTR-EQ': '19943', 'DHANI-EQ': '15384', 'DIVISLAB-EQ': '10940', 'DIXON-EQ': '21690', 'LALPATHLAB-EQ': '11654', 'DRREDDY-EQ': '881', 'EICHERMOT-EQ': '910', 'EMAMILTD-EQ': '13517', 'ENDURANCE-EQ': '18822', 'ESCORTS-EQ': '958', 'EXIDEIND-EQ': '676', 'FEDERALBNK-EQ': '1023', 'FORTIS-EQ': '14592', 'GAIL-EQ': '4717', 'GLAND-EQ': '1186', 'GLENMARK-EQ': '7406', 'GODREJCP-EQ': '10099', 'GODREJIND-EQ': '10925', 'GODREJPROP-EQ': '17875', 'GRASIM-EQ': '1232', 'GUJGASLTD-EQ': '10599', 'GSPL-EQ': '13197', 'HCLTECH-EQ': '7229', 'HDFCAMC-EQ': '4244', 'HDFCBANK-EQ': '1333', 'HDFCLIFE-EQ': '467', 'HAVELLS-EQ': '9819', 'HEROMOTOCO-EQ': '1348', 'HINDALCO-EQ': '1363', 'HAL-EQ': '2303', 'HINDCOPPER-EQ': '17939', 'HINDPETRO-EQ': '1406', 'HINDUNILVR-EQ': '1394', 'HINDZINC-EQ': '1424', 'HDFC-EQ': '1330', 'ICICIBANK-EQ': '4963', 'ICICIGI-EQ': '21770', 'ICICIPRULI-EQ': '18652', 'ISEC-EQ': '2489', 'IDFCFIRSTB-EQ': '11184', 'ITC-EQ': '1660', 'INDIAMART-EQ': '10726', 'INDIANB-EQ': '14309', 'INDHOTEL-EQ': '1512', 'IOC-EQ': '1624', 'IRCTC-EQ': '13611', 'IRFC-EQ': '2029', 'IGL-EQ': '11262', 'INDUSTOWER-EQ': '29135', 'INDUSINDBK-EQ': '5258', 'NAUKRI-EQ': '13751', 'INFY-EQ': '1594', 'INDIGO-EQ': '11195', 'IPCALAB-EQ': '1633', 'JSWSTEEL-EQ': '11723', 'JINDALSTEL-EQ': '6733', 'JUBLFOOD-EQ': '18096', 'KOTAKBANK-EQ': '1922', 'L&TFH-EQ': '24948', 'LTTS-EQ': '18564', 'LICHSGFIN-EQ': '1997', 'LTI-EQ': '17818', 'LT-EQ': '11483', 'LAURUSLABS-EQ': '19234', 'LUPIN-EQ': '10440', 'MRF-EQ': '2277', 'MGL-EQ': '17534', 'M&MFIN-EQ': '13285', 'M&M-EQ': '2031', 'MANAPPURAM-EQ': '19061', 'MARICO-EQ': '4067', 'MARUTI-EQ': '10999', 'MFSL-EQ': '2142', 'MINDTREE-EQ': '14356', 'MPHASIS-EQ': '4503', 'MUTHOOTFIN-EQ': '23650', 'NATCOPHARM-EQ': '3918', 'NMDC-EQ': '15332', 'NTPC-EQ': '11630', 'NATIONALUM-EQ': '6364', 'NAVINFLUOR-EQ': '14672', 'NESTLEIND-EQ': '17963', 'NAM-INDIA-EQ': '357', 'OBEROIRLTY-EQ': '20242', 'ONGC-EQ': '2475', 'OIL-EQ': '17438', 'PIIND-EQ': '24184', 'PAGEIND-EQ': '14413', 'PETRONET-EQ': '11351', 'PFIZER-EQ': '2643', 'PIDILITIND-EQ': '2664', 'PEL-EQ': '2412', 'POLYCAB-EQ': '9590', 'PFC-EQ': '14299', 'POWERGRID-EQ': '14977', 'PRESTIGE-EQ': '20302', 'PGHH-EQ': '2535', 'PNB-EQ': '10666', 'RBLBANK-EQ': '18391', 'RECLTD-EQ': '15355', 'RELIANCE-EQ': '2885', 'SBICARD-EQ': '17971', 'SBILIFE-EQ': '21808', 'SRF-EQ': '3273', 'SANOFI-EQ': '1442', 'SHREECEM-EQ': '3103', 'SRTRANSFIN-EQ': '4306', 'SIEMENS-EQ': '3150', 'SONACOMS-EQ': '4684', 'SBIN-EQ': '3045', 'SAIL-EQ': '2963', 'SUNPHARMA-EQ': '3351', 'SUNTV-EQ': '13404', 'SYNGENE-EQ': '10243', 'TVSMOTOR-EQ': '8479', 'TATACHEM-EQ': '3405', 'TATACOMM-EQ': '3721', 'TCS-EQ': '11536', 'TATACONSUM-EQ': '3432', 'TATAELXSI-EQ': '3411', 'TATAMOTORS-EQ': '3456', 'TATAPOWER-EQ': '3426', 'TATASTEEL-EQ': '3499', 'TECHM-EQ': '13538', 'RAMCOCEM-EQ': '2043', 'TITAN-EQ': '3506', 'TORNTPHARM-EQ': '3518', 'TORNTPOWER-EQ': '13786', 'TRENT-EQ': '1964', 'UPL-EQ': '11287', 'ULTRACEMCO-EQ': '11532', 'UNIONBANK-EQ': '10753', 'UBL-EQ': '16713', 'MCDOWELL-N-EQ': '10447', 'VBL-EQ': '18921', 'VEDL-EQ': '3063', 'IDEA-EQ': '14366', 'VOLTAS-EQ': '3718', 'WHIRLPOOL-EQ': '18011', 'WIPRO-EQ': '3787', 'YESBANK-EQ': '11915', 'ZEEL-EQ': '3812'}

### How far back do you want data for, look at API docs for details

In [8]:
from datetime import date, timedelta

today = str(date.today()- timedelta(days = 1))
today += " 09:00"
prev_15 = str(date.today() - timedelta(days = 200)) + ' 09:00'
# prev_D = str(date.today() - timedelta(days = 120)) + ' 09:00'

today

'2022-07-12 09:00'

## Pulling 15 min data

In [10]:
import time

all_data_15 = []
all_t = []
for t in token.values():    
    #Historic api
    #time.sleep(.1)
    try:
        historicParam={
            "exchange": "NSE",
            "symboltoken": str(t),
            "interval": "FIFTEEN_MINUTE",
            "fromdate": prev_15,
            "todate": today
        }
        hist = obj.getCandleData(historicParam)
        ## to make sure all dfs are same length
        # print(len(hist['data']))
        if(len(hist['data']) > 0):

            all_t.append(t)
            all_data_15.append(hist)
        else:
            print("Historic Api failed: {}".format(t))
    except Exception as e:
        print("Historic Api failed: {}".format(e))

Historic Api failed: 21238
Historic Api failed: 1633
Historic Api failed: 2643
Historic Api failed: 2664
Historic Api failed: 2535
Historic Api failed: 1442
Historic Api failed: 18921

## Converting into readable format

In [12]:
import numpy as np

for i in range(len(all_data_15)):
    try:
        all_data_15[i] = pd.DataFrame(all_data_15[i]['data'])
    except:
        pass

    real_names = ['timestamp', 'open', 'high', 'low', 'close', 'volume']

    all_data_15[i].columns = real_names

    all_data_15[i]['timestamp'] = pd.to_datetime(all_data_15[i]['timestamp'])
    vals = list(token.values()).index(all_t[i])
    all_data_15[i]['stock'] = list(token.keys())[vals]

In [13]:
all_data_15[0].head()

                  timestamp     open     high     low    close  volume   stock
0 2022-01-13 09:15:00+05:30  2323.00  2325.45  2304.0  2306.15   25250  ACC-EQ
1 2022-01-13 09:30:00+05:30  2306.15  2316.55  2305.7  2310.30   10827  ACC-EQ
2 2022-01-13 09:45:00+05:30  2310.00  2314.75  2309.0  2310.75    6726  ACC-EQ
3 2022-01-13 10:00:00+05:30  2310.00  2311.55  2298.5  2301.00   13934  ACC-EQ
4 2022-01-13 10:15:00+05:30  2300.45  2307.40  2298.2  2304.05    6619  ACC-EQ

## Scaling the Data (Optional)

In [19]:
from sklearn.preprocessing import StandardScaler
scaled_dat = []

for i in range(len(all_data_15)):
    try:
        del all_data_15[i]['timestamp']    
    except:
        pass
    scaler = StandardScaler()
    
    all_data_15[i].iloc[:,:-2] = pd.DataFrame(scaler.fit_transform(all_data_15[i].iloc[:,:-2]))
    scaled_dat.append(scaler)

In [20]:
all_data_15[i]

          open      high       low     close    volume    stock  pivot
0     2.437291  2.476657  2.461127  2.494158 -0.019218  ZEEL-EQ     -1
1     2.489343  2.495745  2.518508  2.509793 -0.272269  ZEEL-EQ      1
2     2.506694  2.500951  2.481993  2.455941 -0.250040  ZEEL-EQ      0
3     2.444232  2.421130  2.382880  2.414249  0.087342  ZEEL-EQ      0
4     2.406060  2.407248  2.429828  2.433358 -0.322732  ZEEL-EQ      0
...        ...       ...       ...       ...       ...      ...    ...
3045 -1.071006 -1.082305 -1.051298 -1.079159 -0.434961  ZEEL-EQ      0
3046 -1.069271 -1.087511 -1.080858 -1.093056 -0.405430  ZEEL-EQ      0
3047 -1.091827 -1.101393 -1.079119 -1.091319 -0.378625  ZEEL-EQ      0
3048 -1.090092 -1.089246 -1.073903 -1.101742 -0.211742  ZEEL-EQ      0
3049 -1.098767 -1.118745 -1.087814 -1.093056 -0.149696  ZEEL-EQ     -1

[3050 rows x 7 columns]

## Save using pickle

In [21]:
import pickle

with open("test", "wb") as fp:
    pickle.dump(all_data_15, fp)

In [ ]:
import pickle

with open("scales", "wb") as fp:
    pickle.dump(scaled_dat, fp)

## Log Out

In [37]:
#logout
try:
    logout=obj.terminateSession('Your Client Id')
    print("Logout Successfull")
except Exception as e:
    print("Logout failed: {}".format(e.message))